* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-blue: #0aabba;
  --primary-600: #222222;
  --primary-200: #d9f6ff;
  --accent-200: #efefef;
  --accent-400: #dddddd;
  --accent-600: #666666;
  --main-pad: 2rem;
  --grey: #dddddd;
  --dark-grey: #454545;
}

body {
  background-color: whitesmoke;
  margin-bottom: var(--main-pad);
}

nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 8px #777777;
  transition: left 200ms ease-in;
}

nav.open {
  left: 0;
}
nav.desktop {
  display: none;
}

nav ul {
  padding: calc(var(--main-pad) * 0.75) var(--main-pad);
  list-style: none;
}

nav ul li {
  margin-bottom: 0.5rem;
  background-color: var(--accent-200);
  border-radius: 10px;
  color: var(--primary-600);
  font-weight: bold;
}

nav ul li a {
  margin-left: 1rem;
  padding: 0.75rem 0.5rem;
  display: block;
}

.nav-back-btn {
  background: none;
}
.nav-back-btn .back {
  padding: 0.5rem;
}

main {
  padding: var(--main-pad);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

h1 span {
  flex: 1;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 2px solid var(--primary-blue);
  border-radius: 2px;
}

textarea {
  height: 100px;
  resize: none;
}

button.primary,
button.secondary {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #333333;
  border-radius: 5px;
}

button.primary:disabled,
button.secondary:disabled {
  opacity: 0.5;
}

button.primary {
  border-color: var(--primary-blue);
  color: #082a3c;
  background-color: var(--primary-blue);
}

button.secondary {
  border-color: transparent;
  background-color: rgb(239, 239, 239);
  color: var(--primary-blue);
}

.card {
  margin-bottom: 1.25rem;
  padding: 1rem;
  display: flex;
  background-color: #eeeeee;
  border-radius: 10px;
}

.card-display-pic {
  margin-right: 1rem;
  display: block;
  width: 5.125rem;
  height: 5.125rem;
  max-width: 5.125rem;
  max-height: 5.125rem;
  border: 2px solid var(--accent-600);
  border-radius: 50%;
}

.card-title {
  text-transform: capitalize;
}

.card-title--main {
  font-size: 1.5rem;
  color: var(--primary-600);
}

.card-title--sec {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  color: var(--accent-600);
}

.card-title--sec::before {
  content: "From: ";
}

.chip {
  padding: 0.25rem;
  min-width: 6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-600);
  border-radius: 5px;
  color: var(--primary-200);
  font-size: 0.8rem;
  line-height: 1rem;
}

.submit-btn {
  padding: calc(var(--main-pad) / 2) !important;
  width: 100%;
  display: block;
}

.profile-name {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.profile-image-cont {
  position: relative;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  max-width: 8rem;
  max-height: 8rem;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image-btn {
  position: absolute;
  bottom: 0;
  left: 60%;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid var(--primary-600);
  border-radius: 5px;
  color: var(--primary-blue);
  line-height: 1;
}

.profile-image-btn__svg {
  width: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.profile-image__input {
  display: none;
}

.click:active {
  transform: translateY(1px);
}

.transparent {
  vertical-align: middle;
  background: none;
  border: none;
}

.empty {
  display: block;
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 600px) {
  body {
    margin-top: calc(var(--main-pad) * 5);
  }
  main {
    padding: var(--main-pad) calc(var(--main-pad) * 4);
  }

  h1 {
    font-size: 2rem;
  }

  nav.desktop {
    display: block;
  }
  nav.mobile {
    display: none;
  }
  nav {
    width: 100vw;
    height: auto;
    left: 0;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: var(--main-pad);
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    margin: 0;
    border: 2px solid transparent;
    padding: calc(var(--main-pad) / 2) var(--main-pad);
  }
  nav ul li a:active {
    border-color: var(--dark-grey);
  }
  nav .hr {
    display: none;
  }

  button.back {
    display: none;
  }
  button.menu {
    display: none;
  }
  .empty {
    display: none;
  }

  .card {
    padding: var(--main-pad);
  }
  .submit-btn {
    padding: 0.25rem 0.5rem !important;
    width: auto;
    display: inline-block;
  }
}
